# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
lenv/

# Local databases
*.db
*.sqlite
*.sqlite3

# Python tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node
node_modules/
dist/